@page "/hotel-room/create"
@page "/hotel-room/edit/{Id:int}"
@using global::Models
@inject IHotelRoomRepository HotelRoomRepository
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime



<div class="row mt-2 mb-5">
    <h3 class="card-title text-info mb-3 ml-3">@Title Hotel Room</h3>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <EditForm Model="HotelRoomModel" OnValidSubmit="HandleHotelRoomUpSert">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                    <div class="form-control">
                       <label>Name</label>
                       <InputText @bind-Value="HotelRoomModel.Name" class="form-control"/>
                       <ValidationMessage For="()=>HotelRoomModel.Name"></ValidationMessage>
                    </div>
                    <div class="form-control">
                        <label>Occupancy</label>
                        <InputNumber @bind-Value="HotelRoomModel.Occupancy" class="form-control" />
                        <ValidationMessage For="()=>HotelRoomModel.Occupancy"></ValidationMessage>
                    </div>
                    <div class="form-control">
                        <label>Rate</label>
                        <InputNumber @bind-Value="HotelRoomModel.RegularRate" class="form-control" />
                        <ValidationMessage For="()=>HotelRoomModel.RegularRate"></ValidationMessage>
                    </div>
                    <div class="form-control">
                        <label>Sq ft.</label>
                        <InputText @bind-Value="HotelRoomModel.SqFt" class="form-control" />
                        <ValidationMessage For="()=>HotelRoomModel.SqFt"></ValidationMessage>
                    </div>
                    <div class="form-control">
                        <label>Details</label>
                        <InputTextArea @bind-Value="HotelRoomModel.Details" class="form-control" />
                        <ValidationMessage For="()=>HotelRoomModel.Details"></ValidationMessage>
                    </div>
                    <div class="form-control">
                        <button class="btn btn-primary">@Title Room</button>
                        <NavLink href="hotel-room"  class="btn btn-secondary" >Back To Index</NavLink>
                    </div>

                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int? Id { get; set; }

    private HotelRoomDTO HotelRoomModel { get; set; } = new HotelRoomDTO();
    private string Title { get; set; } = "Create";


    protected override async Task OnInitializedAsync()
    {
        if(Id != null)
        {
            //Update

            Title = "Update";
            HotelRoomModel = await HotelRoomRepository.GetHotelRoom(Id.Value);
        }
        else
        {
            //Create
            HotelRoomModel = new HotelRoomDTO();
        }
    }



    private async Task HandleHotelRoomUpSert()
    {
        try
        {

            var roomDetailsByName = await HotelRoomRepository.IsRoomUnique(HotelRoomModel.Name, HotelRoomModel.Id);
            if (roomDetailsByName != null)
            {
                await JSRuntime.ToastrError("Room name already exists.");
                return;
            }

            if(HotelRoomModel.Id != 0 && Title == "Update")
            {
                //update
                var updateRoomResult = await HotelRoomRepository.UpdateHotelRoom(HotelRoomModel.Id, HotelRoomModel);
                await JSRuntime.ToastrSuccess("Hotel room updated successfully");
            }
            else
            {
                //Create
                var createResult = await HotelRoomRepository.CreateHotelRoom(HotelRoomModel);
                await JSRuntime.ToastrSuccess("Hotel room created successfully");

            }
        }
        catch (Exception ex)
        {
            
            throw;
        }




        
       
        NavigationManager.NavigateTo("hotel-room");
    }

}
